<!DOCTYPE html>
<html lang="en" ng-app="PopQuizApp">
<head>
        <meta charset="UTF-8">
        <title>Pop Quiz</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="PopQuizCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page">
        <h1> POP QUIZ </h1>
        <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate>
            <div class="form-group">
                <label for="question"><span class="question_title">Question {{ctrl.quiz.id +1}} </span>
                    <br /><span class="question"> {{ctrl.quiz.question}} </span></label>
            </div>
            <div class="form-group">
                <label for="answer">Answers : </label>
                <br/>
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer1.value}}" /> {{ctrl.quiz.answer1.name}}
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer2.value}}" /> {{ctrl.quiz.answer2.name}}
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer3.value}}" /> {{ctrl.quiz.answer3.name}}
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer4.value}}" /> {{ctrl.quiz.answer4.name}}
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.answer5.value}}" /> {{ctrl.quiz.answer5.name}}

            </div>
            <div class="form-group">
                <label for="comments">Comments</label>
                <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
            </div>
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" /> {{ctrl.finalanswer.message}}
            </div>
        </form>
    </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/js/app.js"></script>
</body>

</html>